html {
    scroll-behavious: smooth;
    background-color: #fbfbfb;
}

@font-face{
    font-family:"Main";
    src: url("https://fonts.gstatic.com/s/googlesans/v16/4UabrENHsxJlGDuGo1OIlLU94YtzCwZsPF4o.woff2");
}

.main{
    font-family: Main;
    font-size: 10vw;
    font-weight:bold;

}
.main:hover{
    visibility: hidden;
}
.main:hover:after{
    content: "Cumming soon";
    visibility: visible;
    position: absolute;
    left: 0;
    width: 98% !important;
    text-align: center;
}

body{
    padding:0;
    margin:0;
    text-align: center;
    width: 98% !important;
    height: 100vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
}